<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>YelpCamp</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

   <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />
   <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
   <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body class="d-flex flex-column min-vh-100">
   <%- include('../partials/navbar')%>
   <%- include('../partials/clusterMap')%>

      <main class="container mt-5">
         <%- include('../partials/flash')%>
            <%- body %>
      </main>
      <%- include('../partials/footer')%>

         <script src="/javascripts/popper.min.js"></script>
         <script src="/javascripts/bootstrap.min.js"></script>
         <script src="/javascripts/bs-custom-file-input.min.js"></script>
         <script src="/javascripts/validateForms.js"></script>
         
</body>

</html>